@model List<tb_sensor>
@{
    ViewData["Title"] = "Cadastro de Sensor";
    var tipo_sensor = "";
    var bloco = "";
    var id_sensor = "";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function AtualizarTipoSensor(valor) {
        tipo_sensor = valor
    }

    function AtualizarBloco(valor) {
        bloco = valor
    }

    function AtualizarId(valor) {
        id_sensor = valor
    }

    function CadastrarSensor() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("CadastrarSensorEstoque", "Home")",
            data: {id_sensor: id_sensor, tipo_sensor: tipo_sensor, bloco: bloco },
            success: function (response) {
                window.location.reload();
                alert(response);
            },
            error: function (error) {
                alert("Ocorreu um erro na solicitação.");
            }
        });
    }

</script>

<div class="text-center">
    <form>
        <fieldset>
            <legend>Cadastro de Sensor</legend>
            <div class="mb-3">
                <select id="comboBox" class="form-select" aria-label="Default select example" onchange="AtualizarId(this.value)">
                    <option selected>Selecione um sensor do estoque</option>
                    @foreach (var sensor in Model)
                    {
                        <option value="@sensor.id">@sensor.nome</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <select id="comboBox" class="form-select" aria-label="Default select example" onchange="AtualizarTipoSensor(this.value)">
                    <option selected>Selecione o tipo de sensor</option>
                    <option value=Presença>Presença</option>
                    <option value=Luz>Luz</option>
                </select>
            </div>
            <div class="mb-3">
                <select id="comboBox" class="form-select" aria-label="Default select example" onchange="AtualizarBloco(this.value)">
                    <option selected>Selecione o bloco</option>
                    <option value="BL1">BL1</option>
                    <option value="BL2">BL2</option>
                    <option value="BL3">BL3</option>
                    <option value="BL4">BL4</option>
                    <option value="BL5">BL5</option>
                    <option value="BL6">BL6</option>
                    <option value="BL7">BL7</option>
                    <option value="BL8">BL8</option>
                    <option value="BL9">BL9</option>
                    <option value="BL10">BL10</option>
                    <option value="BL11">BL11</option>
                    <option value="BL12">BL12</option>
                    <option value="BL13">BL13</option>
                    <option value="BL14">BL14</option>
                    <option value="BL15">BL15</option>
                </select>
            </div>
        </fieldset>
    </form>
    <button class="btn btn-primary" type="submit" onclick="CadastrarSensor()">Salvar</button>
</div>
