@model List<tb_sensor>
@{
    ViewData["Title"] = "Cadastro de Lampada";
    var id_sensor = 0;
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function AtualizarSensor(valor)
    {
        id_sensor = valor
        console.log("Valor: " + valor);
        console.log("id_sensor atualizado: " + id_sensor);
    }

    function CadastrarLampada() {
        var nome_lampada = document.getElementById("NomeText").value;
        $.ajax({
            type: "POST",
            url: "@Url.Action("CadastrarLampada", "Home")",
            data: { nome_lampada: nome_lampada, id_sensor: id_sensor },
            success: function (response) {
                window.location.reload();
                alert(response);
            },
            error: function (error) {
                alert("Ocorreu um erro na solicitação.");
            }
        });
    }

</script>

<div class="text-center">
    <form>
        <fieldset>
            <legend>Cadastro de Lampada</legend>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Nome</label>
                <input type="text" id="NomeText" class="form-control">
            </div>
            <div class="mb-3">
                <select id="comboBox" class="form-select" aria-label="Default select example" onchange="AtualizarSensor(this.value)">
                    <option selected>Vincule um sensor de luminosidade</option>
                    @foreach (var sensor in Model)
                    {
                        <option value=@sensor.id_sensor>@sensor.nome_sensor</option>
                    }
                </select>
            </div>
        </fieldset>
    </form>
    <button class="btn btn-primary" type="submit" onclick="CadastrarLampada()">Salvar</button>
</div>
