@model List<tb_sensor>
@{
    ViewData["Title"] = "Cadastro de Sensor";
    var tipo_sensor = "";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function AtualizarTipoSensor(valor) {
        tipo_sensor = valor
    }

    function CadastrarLampada() {
        var nome_sensor = document.getElementById("NomeText").value;
        $.ajax({
            type: "POST",
            url: "@Url.Action("CadastrarSensor", "Home")",
            data: { nome_sensor: nome_sensor, tipo_sensor: tipo_sensor },
            success: function (response) {
                window.location.reload();
                alert(response);
            },
            error: function (error) {
                alert("Ocorreu um erro na solicitação.");
            }
        });
    }

</script>

<div class="text-center">
    <form>
        <fieldset>
            <legend>Cadastro de Sensor</legend>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Nome</label>
                <input type="text" id="NomeText" class="form-control">
            </div>
            <div class="mb-3">
                <select id="comboBox" class="form-select" aria-label="Default select example" onchange="AtualizarTipoSensor(this.value)">
                    <option selected>Selecione o tipo de sensor</option>
                    <option value=Presença>Presença</option>
                    <option value=Luz>Luz</option>
                </select>
            </div>
        </fieldset>
    </form>
    <button class="btn btn-primary" type="submit" onclick="CadastrarLampada()">Salvar</button>
</div>
