@model tb_lampada
@{
    ViewData["Title"] = "Detalhes";
}
<div class="text-center">
    <form>
        <fieldset disabled>
            <legend>Detalhes</legend>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">ID</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.id_lampada>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Nome</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.nome_lampada>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Situação da lâmpada</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.situacao_lampada>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Data de inclusão da lampada</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.data_inclusao.ToString("dd/MM/yyyy HH:mm")>
            </div>
            @if (Model.data_fim != null)
            {
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label" style="float: left;">Data de remoção da lâmpada</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.data_fim?.ToString("dd/MM/yyyy HH:mm")>
                </div>
            }
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Ligada pela última vez</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.data_ultima_atualizacao?.ToString("dd/MM/yyyy HH:mm")>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Quantidade de acionamentos</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="@(Model.quantidade_vezes_ligacao ?? 0)">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Status</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=@Model.status_lampada>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                    <label class="form-check-label" for="disabledFieldsetCheck">
                        Can't check this
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>
